.body{
  background-image: url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?q=80&w=1905&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.body form{
  position: relative;
  z-index: 1;
}

.signup-container {
    
  padding: 50px;
}

.signup-form {
  max-width: 400px;
  margin: auto;
  font-weight: bold;
  color: rgb(210, 194, 186);
  
}
.signup-form span{
    color: red;
}

.signUp{
    margin-top: 30px;
    display: grid;
}

.signup-form img {
  width: 150px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}