.team-logo {
  width: 30px;
  height: 22px;
  margin-right: 15px;
  object-fit: cover;
  object-position: center;
}
label {
  font-weight: bold;
}

.last-5-matches i {
  margin-right: 10px;
  border-radius: 50%;
  color: white;
  padding: 7px;
  font-size: 12px;
}
h2 {
  color: gray;
}

.last-5-matches i.win {
  background: green;
}
.last-5-matches i.loss {
  background: red;
  width: 26px;
}