<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img src="https://static.cricbuzz.com/images/cb_logo.svg" alt="Not found" routerLink="/">
      <ul>
        <li><a  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Live Score</a></li>
        <li><a routerLink="matches" routerLinkActive="active"  >Matches</a></li>
        <li><a routerLink="pointtable" routerLinkActive="active"  >Point Table</a></li>
        <li><a routerLink="ranking" routerLinkActive="active"  >Ranking</a></li>
        <li><a routerLink="players" routerLinkActive="active"  >Players</a></li>
        <li>
          <button class="btn btn-danger p-1 mb-2 logout" *ngIf="!isLoggedIn()"  routerLink="login" >Login</button>
         </li>
        <li>
         <button class="btn btn-danger p-1 mb-2 logout" *ngIf="isLoggedIn()"  (click)="logout()" >Logout</button>
        </li>
      </ul>
      
    </nav>
    <section></section>

    
  </body>
</html>