h3{
    color: gray;
    margin-top: 15px;
}
h4{
    color: gray;
    text-align: center;
}
.button{
    margin-top: 20px;
}
.b{
    background:#028062;
    color: #fff;
    font-size: 15px;
    margin-right: 15px;
    padding: 5px 20px;
    cursor: pointer;
    outline: medium none;
    line-height: 17.5px;
    border-radius: 20px;
    border: none;
}
.imageBox img{
    height: 60px;
    width: 50px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);


}
.playerName{
    margin-left: 25px;
}
.playerName p{
    font-size: 13px;
    color: #666;
}
.table{
    width: 88%;
    margin: 0 auto;
    
}
.header th{
    background: #f5f5f5;
}
.button button{
    background-color: blueviolet;
}