<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CricBuzz Login</title>
</head>

<body>
    <div class="container">
        <div class="login-box">
            <h2>Login</h2>
            <form>
                <div class="input-group">
                    <label for="username">Player Username:</label>
                    <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Enter Username"
                        required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" [(ngModel)]="password"
                        placeholder="Enter Password" required>
                </div>
                <button type="submit" (click)="onLogin()">Login</button>
            </form>
        </div>
    </div>

</body>

</html> -->

<!-- ------------------------------------------ -->

<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="userLogin()">
      <label for="">Email ID *</label>
      <input type="email" name="email" formControlName="email" placeholder="enter email" required />
      <div style="color: red;" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Valid email is required.
      </div>

      <label for="">Password *</label>
      <div style="display: flex;" class="password-container">
        <input [type]="passwordFieldType" name="password" formControlName="password" placeholder="password" />
        <button style="width: fit-content; color: black; margin-top: 0px; background-color: #f2f2f2;" type="button" (click)="togglePasswordView()" class="password-toggle">
          <i *ngIf="passwordFieldType === 'password'" class="fa fa-eye"></i>
          <i *ngIf="passwordFieldType === 'text'" class="fa fa-eye-slash"></i>
        </button>
      </div>
      <div style="color: red;" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required.
      </div>

      <button type="submit" class="loginButton" [disabled]="loginForm.invalid">login</button>
      <p class="message">Not registered? <a routerLink="/signup">Create an account</a></p>
    </form>
  </div>
</div>

<!-- -------------------------------------------- -->

<!-- 
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <label for="">Email ID *</label>
        <input type="email" name="email" [(ngModel)]="email" formControlName="email" placeholder="enter email" required />
        
        <label for="">Password *</label>
        <input type="password" name="password" [(ngModel)]="password" formControlName="password" placeholder="password"/>
        
        <button type="submit" (click)="onLogin()">login</button>
        <p class="message">Not registered? <a routerLink="/signup" >Create an account</a></p>
      </form>
    </div>
  </div> -->